<template>
  <section class="hero choose-con is-blue">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h2 class="subtitle has-text-weight-semibold has-text-white">
          How Storynook can help your child
        </h2>
        <div class="grid-container">
          <div class="item">
            <figure class="image is-64x64">
              <img src="/assets/listen.svg" />
            </figure>
            <h3 class="has-text-weight-medium is-size-4 has-text-green">
              Read aloud
            </h3>
            <p>
              Allows children to gain confidence by testing their pronunciation
              of words
            </p>
          </div>
          <div class="item">
            <figure class="image is-64x64">
              <img src="/assets/speaker.svg" />
            </figure>
            <h3 class="has-text-weight-medium is-size-4 has-text-green">
              Hear new words
            </h3>
            <p>
              Words can be read aloud to your child to familiarise them with new
              sounds
            </p>
          </div>
          <div class="item">
            <figure class="image is-64x64">
              <img src="/assets/ai.svg" />
            </figure>
            <h3 class="has-text-weight-medium is-size-4 has-text-green">
              Powered by AI
            </h3>
            <p>
              Storynook helps your child learn to read using machine-learning
              powered technologies
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import stories from "../../data/stories.json";
export default {
  data() {
    return {
      stories,
      colours: ["#47d7fd", "#3cd0a2", "#ffc76b", "#f87d8e", "#a77edc"],
    };
  },
};
</script>
<style lang="scss" scoped>
@import "../../css/variables.scss";

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 80%;
  margin: auto;
  .item {
    background-color: white;
    padding: 1em;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    border-radius: 6px;
  }
}

.choose-con {
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
}
</style>
