<template>
  <div class="hero is-medium kids-bg">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-purple">Sign up now!</h1>
        <h2 class="subtitle has-text-purple">Start your child on their reading journey today</h2>
        <b-button
          tag="router-link"
          to="/signup"
          type="is-purple is-rounded has-text-weight-semibold"
          size="is-large"
        >Sign up</b-button>
      </div>
    </div>
  </div>
</template><style lang="scss" scoped>
.kids-bg {
  background-image: url("/assets/kids2.svg");
  background-position: center;
}
</style>

