<template>
  <footer :class="`footer has-background-${bgColor}`">
    <div class="content has-text-centered">
      <p :class="`has-text-${textColor} has-text-weight-medium`">Storynook &copy; {{new Date().getFullYear()}}</p>
      <router-link :class="`has-text-${textColor} has-text-weight-medium`" to="/about">About</router-link>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    textColor: {
      type: String,
      default: "white"
    },
    bgColor: {
      type: String,
      default: "pink"
    }
  }
};
</script>
<style>
footer {
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
}
</style>

