<template>
  <nav :class="`navbar ${colour}`">
    <div class="container">
      <div class="navbar-brand logo">
        <router-link class="navbar-item" to="/stories">
          <img src="/assets/logo.svg" />
        </router-link>
      </div>

      <!-- <div class="navbar-start">
        <router-link class="navbar-item" to="/">
          <div class="has-text-centered">
            <div>
              <figure class="image is-48x48">
                <img src="/assets/open-book.svg" />
              </figure>

              <p class="is-size-4 has-text-white has-text-weight-semibold">Read</p>
            </div>
          </div>
        </router-link>
        <router-link class="navbar-item" to="/about">
          <div class="has-text-centered">
            <div>
              <figure class="image is-48x48">
                <img src="/assets/abc-block.svg" />
              </figure>

              <p class="is-size-4 has-text-white has-text-weight-semibold">Spell</p>
            </div>
          </div>
        </router-link>
      </div>-->
      <div class="navbar-end">
        <router-link class="navbar-item" to="/login" v-if="!user">
          <div class="has-text-centered is-centered">
            <div>
              <p class="is-size-4 has-text-white has-text-weight-semibold">Login</p>
            </div>
          </div>
        </router-link>
        <router-link class="navbar-item" to="/signup" v-if="!user">
          <div class="has-text-centered is-centered">
            <div>
              <p class="is-size-4 has-text-white has-text-weight-semibold">Sign up</p>
            </div>
          </div>
        </router-link>
        <div v-else class="has-text-centered is-centered navbar-item" @click="logout">
          <div>
            <p class="is-size-4 has-text-white has-text-weight-semibold">Logout</p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
import firebase from "firebase";
export default {
  props: {
    colour: {
      type: String,
      default: "is-primary"
    }
  },
  computed: {
    user() {
      return firebase.auth().currentUser;
    }
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push("/");
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.logo {
  margin-bottom: -5em;
  width: 20%;
  margin-right: 2%;
}
</style>
