<template>
    <span>
        <span
            v-if="loading < 0 && page > 0"
            :class="recordClasses"
            @click="record"
        >
            <i class="fas fa-microphone"></i>
        </span>
        <span
            v-else-if="page > 0"
            class="is-size-2 no-click record no-recording"
        >
            <i class="fas fa-microphone"></i>
        </span>
        <nav class="bar">
            <div class="container">
                <div class="grid">
                    <div class="grid-start">
                        <div class="is-size-2 has-text-grey" v-if="page > 0">
                            <span
                                v-if="loading < 0"
                                class="icon is-large clickable"
                                @click="prev"
                            >
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span
                                v-else
                                class="icon is-large no-click has-text-grey-light"
                            >
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </div>
                    </div>

                    <div class="grid-center">
                        <h2
                            class="is-size-4 has-text-weight-medium author-list"
                            v-if="page === 0"
                        >
                            By:
                            <span v-for="(a, idx) in authors" :key="idx"
                                >{{ a
                                }}{{
                                    idx === authors.length - 1 ? "" : ", "
                                }}</span
                            >
                        </h2>

                        <p
                            class="subtitle reading-text has-text-weight-medium clickable"
                        >
                            <ReadableText
                                v-for="(t, idx) in textArray"
                                :text="t"
                                :recorded="recordedText.length > 0"
                                :correct="difference[idx]"
                                :noPuncText="expected[idx]"
                                :position="idx"
                                :key="idx"
                                :loading="loading === idx"
                                :open="open === idx"
                                @loading="setLoading(idx)"
                                @done="setDone"
                                @open="setOpen(idx)"
                                @close="setClose"
                            />
                        </p>
                    </div>
                    <div class="grid-end">
                        <div
                            @click="next"
                            class="is-size-2 clickable has-text-grey"
                            v-if="recordedText.length > 0 && page > 0"
                        >
                            <span class="icon is-large">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </div>
                        <div
                            class="is-size-2 no-click has-text-grey-light"
                            v-else-if="
                                (loading === -1 && page > 0) ||
                                    (recordedText.length === 0 && page > 0)
                            "
                        >
                            <span class="icon is-large">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </div>

                        <div
                            @click="$emit('start')"
                            class="is-size-2 clickable has-text-grey"
                            v-if="page === 0"
                        >
                            <span class="has-text-weight-medium">Start</span>
                            <span class="icon is-large">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </span>
</template>
<script>
import ReadableText from "../reading/ReadableText";
import ScaleLoader from "vue-spinner/src/ScaleLoader.vue";
export default {
    components: {
        ReadableText,
        ScaleLoader,
    },
    props: {
        pages: {
            type: Number,
        },
        page: {
            type: Number,
        },
        authors: {
            type: Array,
        },
        text: {
            type: String,
        },
        recording: {
            type: Boolean,
        },
        recordedText: {
            type: String,
        },
    },
    computed: {
        textArray() {
            return this.text.split(" ");
        },
        expected() {
            const string = this.makeLowercase(
                this.removePunctuation(this.text)
            );
            return string.split(" ");
        },
        recorded() {
            const string = this.makeLowercase(
                this.removePunctuation(this.recordedText)
            );
            return string.split(" ");
        },
        difference() {
            return this.expected.map((e, idx) => this.recorded.includes(e));
        },
        missedWords() {
            return this.difference.map((d, idx) => {
                return !d ? this.expected[idx] : null;
            });
        },
        recordClasses() {
            return this.recording
                ? "is-size-2 clickable record recording"
                : "is-size-2 clickable record";
        },
    },
    methods: {
        removePunctuation(string) {
            return string.replace(/[.,\/#!?$%\^&\*;:{}=\-_`~()”“']/g, "");
        },
        makeLowercase(string) {
            return string.toLowerCase();
        },
        next() {
            this.$emit("next", this.missedWords);
            this.$emit("stop");
            this.setClose();
            this.setDone();
        },
        prev() {
            this.$emit("prev");
            this.$emit("stop");
            this.setClose();
            this.setDone();
        },
        record() {
            if (this.recording) {
                this.$emit("stop");
            } else {
                this.$emit("record");
                this.setClose();
            }
        },
        setLoading(idx) {
            this.loading = idx;
        },
        setDone() {
            this.loading = -1;
        },
        setOpen(idx) {
            this.open = idx;
        },
        setClose() {
            this.open = -1;
        },
    },
    data() {
        return {
            loading: -1,
            open: -1,
        };
    },
    watch: {
        difference(val) {
            if (val.every((v) => v === true)) {
                this.$emit("stop");
            }
        },
    },
};
</script>

<style scoped lang="scss">
@import "../../css/variables.scss";
.grid-center {
    text-align: center;
    margin: 0.5em 1em;
}

.record {
    position: fixed;
    bottom: 70px;
    left: 40%;
    text-align: center;
    width: 20%;
    height: 170px;
    z-index: 0;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    color: white;
    background-color: $green;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
    i {
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
        padding: 0.5em;
    }
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    justify-content: space-evenly;
    align-content: center;
    min-height: 10em;
}

.bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9000;
    background-color: white;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
}

.no-recording {
    background-color: #d3d3d3;
}

.recording {
    animation: blink 2000ms infinite;
}

@keyframes blink {
    0% {
        background-color: $pink;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    }
    50% {
        background-color: white;
        color: $pink;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    }

    100% {
        background-color: $pink;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    }
}

.loader-margin {
    position: absolute;
    margin: -2em 38% 0 38%;
}
</style>
