<template>
  <nav class="bar is-pink">
    <div class="container">
      <div class="grid">
        <div class="grid-start">
          <router-link class="navbar-item" to="/stories">
            <img src="/assets/logo.svg" />
          </router-link>
        </div>
        <div class="grid-center">
          <h2 class="is-size-2 has-text-weight-semibold book-title">{{title}}</h2>
        </div>
        <div class="grid-end">
          <h3 v-if="pages>0 && page<=0" class="is-size-5">{{pages}} pages</h3>
          <h3 v-else class="is-size-5">{{page}} / {{pages}}</h3>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    },
    authors: {
      type: Array
    },
    pages: {
      type: Number
    },
    page: {
      type: Number
    },
    filename: {
      type: String
    },
    colour: {
      type: String,
      default: "primary"
    }
  }
};
</script>

<style scoped lang="scss">
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 150px 1fr auto;
  justify-content: space-evenly;
  align-content: center;
  min-height: 10em;
}

.grid-center {
  padding-top: 1em;
}
.grid-end {
  padding-top: 2em;
}

.bar {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.hero .is-pink {
  background: #f87d8e;
  max-height: 7em;
  .navbar-item {
    color: #fff;
  }
}

.page-count {
  width: 10em;
  margin-top: 3em;
}

.book-title {
  margin-bottom: 0.2em !important;
}

.logo {
  width: 12%;
  margin-right: 2%;
}
</style>