<template>
  <span>
    <Navbar colour="is-pink" />
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Introduction</h1>
          <p>
            Storynook is an app for children which aims to assist them in the process of learning to read.
            Storynook employs machine learning to check the pronunciation of words. It also uses this system to read words aloud for the child to hear what they should be aiming for.
          </p>
          <br />
          <h1 class="title">Features</h1>
          <h2 class="subtitle">Level system</h2>
          <p>
            Storynook has a points system which allows users to unlock more difficult content the more they read. There are 5 levels.
            The stories are ranked based on the number of unique words they contain as well as the difficulty of those words.
          </p>
          <h2 class="subtitle">Pronunciation recognition</h2>
          <p>
            While reading the user must press the record button to record their voice, this is converted to text and compared to the text in the story.
            When a user says a word correctly once it will mark it as correct in all instances on the current screen.
          </p>
          <h2 class="subtitle">Speaking aloud</h2>
          <p>
            Storynook also allows the users to hear a word they are unsure of so they can learn how they should be saying it.
            It uses text to speech to convert the word that has been clicked into speech. It also spells out the words before reading it.
          </p>
          <br />
          <h1 class="title">Project Expansion</h1>
          <p>
            There is definitely room for Storynook to grow. Other areas of learning that i think AI could be helpful in digitising would be learning spelling.
            I think a read aloud mode where the AI will read the whole story out loud to the user could be helpful as well. This could help children who are just starting to learn to read.
          </p>
          <br />

          <h1 class="title">Technical Details</h1>
          <p>
            Storynook is built using Vue for the frontend, Azure Cognitive services for the AI integration and Firebase for the backend.
            <br />Storynook is live on
            <a
              href="https://storynook.netlify.com"
              target="_blank"
              rel="noopener noreferrer"
            >storynook.netlify.com</a>.
            <br />A video demo can be viewed
            <a
              href="https://drive.google.com/file/d/1Fw-6FOzVYtzLsDEL0pE8Pz0l_sbfiPOr/view?usp=sharing"
              target="_blank"
              rel="noopener noreferrer"
            >here</a>.
            <br />The stories on Storynook where sourced from
            <a
              href="https://freekidsbooks.org/"
              target="_blank"
              rel="noopener noreferrer"
            >freekidsbooks.org</a>.
            <br />All icons are from
            <a
              href="https://fontawesome.com/icons"
              target="_blank"
              rel="noopener noreferrer"
            >Font Awesome</a>.
          </p>
          <br />

          <h1 class="title"></h1>
          <p></p>
        </div>
      </div>
    </section>
    <Footer />
  </span>
</template>
<script>
import Navbar from "../components/navigation/Navbar";
import Footer from "../components/navigation/Footer";
export default {
  components: {
    Navbar,
    Footer
  }
};
</script>

