<template>
  <span>
    <Navbar colour="is-pink" />
    <section class="hero is-medium kids">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title has-text-yellow">Welcome to Storynook!</h1>
          <h2 class="subtitle has-text-yellow">Your reading buddy</h2>
        </div>
      </div>
    </section>
    <NookInfo />
    <SignUpBlock />
    <Footer />
  </span>
</template>


<script>
import firebase from "firebase";
import Navbar from "../components/navigation/Navbar";
import NookInfo from "../components/landing-page/NookInfo";
import SignUpBlock from "../components/landing-page/SignUpBlock";
import Footer from "../components/navigation/Footer";
export default {
  name: "home",
  components: { Navbar, NookInfo, SignUpBlock, Footer },
  computed: {
    user() {
      return firebase.auth().currentUser;
    }
  }
};
</script>
<style lang="scss" scoped>
.kids {
  background-image: url("/assets/kids.svg");
  background-position: center;
}
</style>
