<template>
  <div class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-quarter has-text-centered">
            <router-link to="/">
              <span class="icon is-size-1 has-text-white">
                <i class="fas fa-arrow-left"></i>
              </span>
            </router-link>
          </div>
          <div class="column is-half">
            <div class="box">
              <p class="title has-text-dark">Welcome back!</p>
              <br />
              <b-field label="Email">
                <b-input
                  v-model="email"
                  size="is-large"
                  placeholder="example@email.com"
                  type="email"
                  required
                ></b-input>
              </b-field>
              <br />
              <b-field label="Password">
                <b-input
                  v-model="password"
                  size="is-large"
                  placeholder="••••••"
                  password-reveal
                  type="password"
                  required
                ></b-input>
              </b-field>
              <br />
              <p class="help is-danger">{{error}}</p>
              <b-button
                @click="login"
                type="is-green  is-rounded is-fullwidth has-text-weight-semibold"
                size="is-large"
              >Login</b-button>
              <br />
              <span>
                Don't have an account?
                <router-link to="/signup" class="has-text-green">Create one</router-link>.
              </span>
            </div>
          </div>
          <div class="column is-one-quarter"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { auth } from "../main";
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    login: function() {
      auth.signInWithEmailAndPassword(this.email, this.password).then(
        user => {
          this.$router.replace("/stories");
        },
        err => {
          console.log(err);
          this.error = err.message;
        }
      );
    }
  }
};
</script>

<style scoped>
</style>