<template>
    <span>
        <section class="hero is-fullheight">
            <div class="hero-head">
                <StoryTopbar
                    :title="story.title"
                    :pages="numPages"
                    :authors="story.authors"
                    :filename="story.filename"
                    :page="pageNum"
                    colour="blue"
                />
            </div>
            <div class="hero-body is-paddingless" v-if="!end">
                <div class="container cover">
                    <figure class="image is-2by1">
                        <img :src="image" />
                    </figure>
                </div>
            </div>
            <div v-else class="hero-body">
                <div class="container has-text-centered">
                    <EndPage
                        :words="uniqueMissedWords"
                        :recordedWords="recordedText"
                        @record="record"
                        :recording="recording"
                        @done="finishStory"
                        @stop="stopRecording"
                        @back="end = false"
                    />
                </div>
            </div>
            <div class="hero-foot" v-if="!end">
                <StoryBottombar
                    @start="start"
                    @prev="prevPage"
                    @next="nextPage"
                    @record="record"
                    @stop="stopRecording"
                    :recording="recording"
                    :pages="numPages"
                    :authors="story.authors"
                    :text="text"
                    :page="pageNum"
                    :recordedText="recordedText"
                />
            </div>
        </section>
        <b-modal :active.sync="levelUp" :width="640" :can-cancel="false">
            <div class="box has-text-centered">
                <h1 class="title">You leveled up!</h1>
                <h1 class="title is-size-3">
                    You are now on level {{ user.level }}
                </h1>

                <span
                    class="is-size-2 has-text-green tick level-item"
                    @click="goHome"
                >
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </b-modal>
        <b-modal :active.sync="finished" :width="640" :can-cancel="false">
            <div class="box has-text-centered">
                <h1 class="title">
                    {{
                        uniqueMissedWords.length == 0
                            ? "Perfect!"
                            : stars === 3
                            ? "Great!"
                            : stars === 2
                            ? "Good job!"
                            : "Good try!"
                    }}
                </h1>
                <nav class="level">
                    <div
                        class="level-item has-text-centered"
                        v-for="s in stars"
                        :key="s"
                    >
                        <span class="has-text-yellow is-size-1">
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                    <div
                        class="level-item has-text-centered"
                        v-for="s in 3 - stars"
                        :key="s"
                    >
                        <span class="has-text-yellow is-size-1">
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </nav>
                <h1 class="title is-size-3">You scored: {{ score }}</h1>
                <span
                    class="is-size-2 has-text-green tick level-item"
                    @click="levelUp ? (finished = false) : goHome()"
                >
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </b-modal>
    </span>
</template>

<script>
import stories from "../data/stories.json";
import StoryTopbar from "../components/navigation/StoryTopbar";
import StoryBottombar from "../components/navigation/StoryBottombar";
import EndPage from "../components/reading/EndPage";
import { auth, db } from "../main";
import { setTimeout } from "timers";
const SpeechSDK = require("microsoft-cognitiveservices-speech-sdk");
export default {
    components: {
        StoryTopbar,
        StoryBottombar,
        EndPage,
    },
    computed: {
        authUser() {
            return auth.currentUser;
        },
        story() {
            console.log(this.stories);
            console.log(this.$route.params.name);
            return this.stories.find(
                (s) => s.filename === this.$route.params.name
            );
        },
        numPages() {
            return this.story.pages ? this.story.pages.length : 0;
        },
        image() {
            return this.pageNum === 0
                ? `/assets/${this.story.filename}/cover.${
                      this.story.fileExt ? this.story.fileExt : "svg"
                  }`
                : `/assets/${this.story.filename}/${this.pageNum}.${
                      this.story.fileExt ? this.story.fileExt : "svg"
                  }`;
        },
        text() {
            return this.story.pages && this.pageNum > 0
                ? this.story.pages[this.pageNum - 1]
                : "";
        },
        speechConfig() {
            console.log(this.subscriptionKey);
            let speechConfig = SpeechSDK.SpeechConfig.fromSubscription(
                this.subscriptionKey,
                this.serviceRegion
            );
            speechConfig.speechRecognitionLanguage = "en-US";
            return speechConfig;
        },
        audioConfig() {
            return SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        },
        uniqueMissedWords() {
            return this.missedWords
                .filter((w) => w !== null)
                .filter((word, index) => {
                    return this.missedWords.indexOf(word) >= index;
                });
        },
    },
    methods: {
        goHome() {
            this.$router.push("/stories");
        },
        async finishStory(words) {
            const missedWords = this.getMissedWords(words);
            this.score = this.story.numWords - missedWords.length;
            this.stars = Math.round(
                ((this.score / this.story.numWords) * 10) / 3
            );
            const levelUpScore = this.levels[this.user.level];
            const updatedScore = parseInt(this.user.points) + this.score;
            const levelUp = updatedScore >= levelUpScore;
            await db
                .collection("users")
                .doc(this.authUser.uid)
                .update({
                    points: updatedScore,
                    level: levelUp ? this.user.level + 1 : this.user.level,
                    missedWords: [
                        ...(this.user.missedWords ? this.user.missedWords : []),
                        ...missedWords,
                    ],
                });
            this.finished = true;
            setTimeout(() => (this.levelUp = levelUp), 500);
        },
        getMissedWords(words) {
            return this.uniqueMissedWords
                .map((w) => (!words.includes(w) ? w : null))
                .filter((w) => w !== null);
        },
        getScore(words) {},
        start() {
            this.pageNum = 1;
        },
        nextPage(missedWords) {
            this.missedWords = [...this.missedWords, ...missedWords];
            this.recordedText = "";
            if (this.pageNum !== this.numPages) {
                this.pageNum++;
            } else {
                this.end = true;
            }
        },
        prevPage() {
            this.recordedText = "";
            this.pageNum--;
        },
        record() {
            this.recognizer = new SpeechSDK.SpeechRecognizer(
                this.speechConfig,
                this.audioConfig
            );
            this.recognizer.recognizing = (s, e) => {
                console.log(e);
                this.recordedText += e.result.privText
                    ? ` ${e.result.privText}`
                    : " ";
            };

            this.recognizer.recognized = (s, e) => {
                console.log(e);
                this.recordedText += e.result.privText
                    ? ` ${e.result.privText}`
                    : " ";
            };

            this.recognizer.canceled = (s, e) => {
                console.log(e);
            };

            this.recognizer.sessionStarted = (s, e) => {
                console.log(e);
            };
            // Signals the end of a session with the speech service.
            this.recognizer.sessionStopped = (s, e) => {
                console.log(e);
            };
            // Signals that the speech service has started to detect speech.
            this.recognizer.speechStartDetected = (s, e) => {
                console.log(e);
            };
            // Signals that the speech service has detected that speech has stopped.
            this.recognizer.speechEndDetected = (s, e) => {
                console.log(e);
            };

            this.recognizer.startContinuousRecognitionAsync();
            this.recording = true;
        },
        stopRecording() {
            this.recording = false;
            this.recognizer.stopContinuousRecognitionAsync(
                () => {
                    this.recognizer.close();
                },
                (err) => {
                    console.log(err);
                }
            );
        },
    },
    firestore() {
        return {
            user: db.collection("users").doc(this.authUser.uid),
        };
    },

    data() {
        return {
            stories,
            pageNum: 0,
            recordedText: "",
            subscriptionKey: "cdcbe48924b34b1d983a5480dc369b1e",
            serviceRegion: "westus",
            recording: false,
            missedWords: [],
            end: false,
            finished: false,
            recognizer: null,
            levels: [100, 200, 400, 800],
            user: {},
            score: 0,
            stars: 0,
            levelUp: false,
        };
    },
};
</script>

<style lang="scss" scoped>
.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}
.start {
    margin: 1em;
}

.cover {
    z-index: -2;
    padding-bottom: 160px;
}

.record {
    margin-top: -2em;
}

.hero-head {
    height: 7em;
}
</style>
