<template>
  <div class="hero is-yellow is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-quarter has-text-centered">
            <router-link to="/">
              <span class="icon is-size-1 has-text-white">
                <i class="fas fa-arrow-left"></i>
              </span>
            </router-link>
          </div>
          <div class="column is-half">
            <div class="box">
              <p class="title">Let's create a new account!</p>
              <b-field label="Username">
                <b-input v-model="username" size="is-large" placeholder="username" required></b-input>
              </b-field>
              <br />
              <b-field label="Email">
                <b-input
                  v-model="email"
                  size="is-large"
                  placeholder="example@email.com"
                  required
                  type="email"
                ></b-input>
              </b-field>
              <br />
              <b-field label="Password">
                <b-input
                  v-model="password"
                  size="is-large"
                  placeholder="••••••"
                  password-reveal
                  type="password"
                  required
                ></b-input>
              </b-field>
              <br />
              <p class="help is-danger">{{error}}</p>
              <br />

              <b-button
                @click="signUp"
                type="is-pink is-rounded is-fullwidth has-text-weight-semibold"
                size="is-large"
              >Sign up</b-button>
              <br />
              <span>
                Have an account already?
                <router-link to="/login" class="has-text-pink">Login</router-link>.
              </span>
            </div>
          </div>
          <div class="column is-one-quarter"></div>
        </div>
      </div>
    </div>
  </div>
</template>

 <script>
import { auth, db } from "../main";
export default {
  name: "signUp",
  data() {
    return { username: "", email: "", password: "", error: "" };
  },
  methods: {
    signUp() {
      auth.createUserWithEmailAndPassword(this.email, this.password).then(
        result => {
          result.user.updateProfile({
            displayName: this.username
          });
          db.collection("users")
            .doc(result.user.uid)
            .set({
              displayName: this.username,
              points: 0,
              level: 1,
              missedWords: []
            })
            .then(() => {
              this.$router.push("/stories");
            })
            .catch(err => {
              console.log(err);
            });
        },
        err => {
          console.log(err);
          this.error = err.message;
        }
      );
    }
  }
};
</script>

 <style scoped>
button {
  margin-bottom: 1em;
}
</style>