<template>
  <span>
    <Navbar colour="is-pink" />
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <Dashboard :user="user" />
        </div>
      </div>
    </section>
    <ChooseBook :user="user" />
    <Footer text-color="pink" bg-color="white-bis" />
  </span>
</template>


<script>
import Navbar from "../components/navigation/Navbar";
import Dashboard from "../components/home/Dashboard";
import ChooseBook from "../components/home/ChooseBook";
import Footer from "../components/navigation/Footer";
import { auth, db } from "../main";
export default {
  name: "home",
  components: { Navbar, Dashboard, ChooseBook, Footer },

  computed: {
    authUser() {
      return auth.currentUser;
    }
  },
  firestore() {
    return {
      user: db.collection("users").doc(this.authUser.uid)
    };
  },
  data() {
    return {
      user: {}
    };
  }
};
</script>
<style lang="scss" scoped>
.kids {
  background-image: url("/assets/kids.svg");
  background-position: center;
}
</style>
