<template>
    <section class="hero choose-con is-blue">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="subtitle has-text-weight-semibold has-text-white">
                    Choose a story to start reading
                </h2>
                <div class="grid-container">
                    <router-link
                        :to="`/read/${s.filename}`"
                        v-for="(s, idx) in filteredStories"
                        :key="idx"
                    >
                        <div class="item has-text-left">
                            <div
                                class="image"
                                :style="{
                                    'background-image': `${
                                        s.fileExt
                                            ? `url(/assets/${s.filename}/cover.${s.fileExt}`
                                            : `url(/assets/${s.filename}/cover.svg`
                                    })`,
                                }"
                            ></div>

                            <h3
                                class="has-text-weight-medium is-size-4 has-text-grey"
                            >
                                {{ s.title }}
                            </h3>
                            <div class="dots">
                                <div
                                    class="dot"
                                    v-for="(dot, idx) in s.difficulty"
                                    :key="idx"
                                    :style="{
                                        background: `${
                                            colours[s.difficulty - 1]
                                        }`,
                                    }"
                                ></div>
                                <div
                                    class="clear-dot"
                                    v-for="(dot, idx) in 5 - s.difficulty"
                                    :key="`${idx}-clear`"
                                ></div>
                            </div>
                        </div>
                    </router-link>
                    <div
                        class="item has-text-left disabled"
                        v-for="(s, idx) in tooDifficultStories"
                        :key="`${idx}-disabled`"
                    >
                        <div
                            class="image"
                            :style="{
                                'background-image': `${
                                    s.fileExt
                                        ? `url(/assets/${s.filename}/cover.${s.fileExt}`
                                        : `url(/assets/${s.filename}/cover.svg`
                                })`,
                            }"
                        ></div>

                        <h3
                            class="has-text-weight-medium is-size-4 has-text-grey"
                        >
                            {{ s.title }}
                        </h3>
                        <div class="dots">
                            <div
                                class="dot"
                                v-for="(dot, idx) in s.difficulty"
                                :key="idx"
                                :style="{
                                    background: `${colours[s.difficulty - 1]}`,
                                }"
                            ></div>
                            <div
                                class="clear-dot"
                                v-for="(dot, idx) in 5 - s.difficulty"
                                :key="`${idx}-clear`"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import stories from "../../data/stories.json";
export default {
    computed: {
        filteredStories() {
            return this.stories.filter((s) => this.level >= s.difficulty);
        },
        tooDifficultStories() {
            return this.stories.filter((s) => this.level < s.difficulty);
        },
        level() {
            return this.user.level ? this.user.level : 1;
        },
    },
    props: {
        user: { type: Object, required: true },
    },
    data() {
        return {
            stories,
            colours: ["#47d7fd", "#3cd0a2", "#ffc76b", "#f87d8e", "#a77edc"],
        };
    },
    methods: {
        backgroundImg(story) {
            console.log(story);
            return ` ${
                story.fileExt
                    ? `/assets/${story.filename}/cover.${story.fileExt}`
                    : `/assets/${story.filename}/cover.svg`
            }`;
        },
    },
};
</script>
<style lang="scss" scoped>
@import "../../css/variables.scss";

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 80%;
    margin: auto;
    .item {
        background-color: white;
        padding: 1em;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
        border-radius: 6px;
        height: 20em;
        .image {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-radius: 6px;
            width: 100%;
            height: 10em;
            background-size: 165%;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.disabled {
            filter: grayscale(70%);
            background-color: #ececec;
        }
    }
}

.dots {
    margin-top: 1em;
    div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;
    }
}

.clear-dot {
    border: 2px solid #e4e2e2;
}

.choose-con {
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
}
</style>
