<template>
  <span>
    <h1 class="title" :style="{'color': `${colours[level - 1]}`}">Welcome {{user.displayName}}</h1>
    <div class="grid-container">
      <div class="item full-width" :style="{'background': `${colours[level -1 ]}`}">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="title has-text-white">{{level}}</p>
              <p class="heading has-text-white has-text-weight-medium is-size-6">level</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title has-text-white">{{user.points? user.points: 0}}</p>
              <p class="heading has-text-white has-text-weight-medium is-size-6">points</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title has-text-white">{{user.missedWords? user.missedWords.length: 0}}</p>
              <p class="heading has-text-white has-text-weight-medium is-size-6">words missed</p>
            </div>
          </div>
        </nav>
      </div>
      <div
        v-if="user.missedWords && user.missedWords.length > 0"
        class="item full-width"
        :style="{'background': `${colours[level - 1]}`}"
      >
        <div>
          <div class="word-grid">
            <h3
              class="full-width has-text-weight-semibold is-size-3 has-text-white"
            >Words to work on</h3>
            <div class="item" v-for="(word, idx) in missedWords" :key="idx">
              <p class="subtitle has-text-weight-medium clickable">
                <ReadableText
                  :text="word"
                  :noPuncText="word"
                  :position="idx"
                  :loading="loading===idx"
                  :open="open===idx"
                  @loading="setLoading(idx)"
                  @done="setDone"
                  @open="setOpen(idx)"
                  @close="setClose"
                  color="has-text-dark"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</template>
<script>
import ReadableText from "../reading/ReadableText";
export default {
  components: {
    ReadableText
  },
  props: {
    user: { type: Object, required: true }
  },
  computed: {
    missedWords() {
      return this.user.missedWords.slice(1).slice(-3);
    },
    level() {
      return this.user.level ? this.user.level : 1;
    }
  },
  data() {
    return {
      open: -1,
      loading: -1,
      colours: ["#47d7fd", "#3cd0a2", "#ffc76b", "#f87d8e", "#a77edc"]
    };
  },
  methods: {
    setLoading(idx) {
      this.loading = idx;
    },
    setDone() {
      this.loading = -1;
    },
    setOpen(idx) {
      this.open = idx;
    },
    setClose() {
      this.open = -1;
    }
  }
};
</script>
<style lang="scss" scoped>
.word-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
  margin: auto;
  padding-bottom: 1em;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1em;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    border-radius: 6px;
  }
  .full-width {
    width: 100%;
    grid-column: span 3;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 80%;
  margin: auto;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1em;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    border-radius: 6px;

    &.full-width {
      width: 100%;
      grid-column: span 2;
    }
    &.offset {
      grid-column: 2;
    }
    nav {
      width: 100%;
    }
  }
}
</style>


