<template>
  <span>
    <p class="title">{{words.length > 0 ? 'Try these words again' : 'Well done! That was perfect!'}}</p>
    <br />
    <div>
      <div class="grid-container">
        <div :class="itemStyles(idx)" v-for="(t,idx) in words" :key="idx">
          <p class="subtitle has-text-weight-medium clickable">
            <ReadableText
              :text="t"
              :noPuncText="t.replace(/[.,\/#!?$%\^&\*;:{}=\-_`~()]/g, '').toLowerCase()"
              :position="idx"
              :loading="loading===idx"
              :open="open===idx"
              @loading="setLoading(idx)"
              @done="setDone"
              @open="setOpen(idx)"
              @close="setClose"
              color="has-text-white"
            />
          </p>
        </div>
      </div>
    </div>
    <span class="bottom-bar">
      <nav class="level">
        <span class="is-size-2 icon is-large clickable back level-item" @click="$emit('back')">
          <i class="fas fa-arrow-left"></i>
        </span>
        <span class="level-item" v-if="words.length > 0">
          <span v-if="loading<0" :class="recordClasses" @click="record">
            <i class="fas fa-microphone"></i>
          </span>
          <span v-else class="is-size-2 no-click record no-recording">
            <i class="fas fa-microphone"></i>
          </span>
        </span>
        <span class="level-item" v-else>
          <span class="is-size-2 no-click record no-recording">
            <i class="fas fa-microphone"></i>
          </span>
        </span>
        <span class="is-size-2 has-text-green tick level-item" @click="done">
          <i class="fas fa-check"></i>
        </span>
      </nav>
    </span>
  </span>
</template>

<script>
import ReadableText from "../reading/ReadableText";
export default {
  components: {
    ReadableText
  },
  props: {
    words: { type: Array },
    recordedWords: { type: String, default: "" },
    recording: { type: Boolean, default: false }
  },
  computed: {
    recordClasses() {
      return this.recording
        ? "is-size-2 clickable record recording"
        : "is-size-2 clickable record ";
    },
    expected() {
      const string = this.makeLowercase(this.removePunctuation(this.words));
      return string.split(" ");
    },
    recorded() {
      const string = this.makeLowercase(
        this.removePunctuation(this.recordedWords)
      );
      return string.split(" ");
    },
    difference() {
      return this.expected.map((e, idx) => this.recorded.includes(e));
    }
  },
  methods: {
    itemStyles(idx) {
      return `item has-text-centered ${this.difference[idx] ? "correct" : ""}`;
    },
    done() {
      this.$emit("done", this.recorded);
    },
    removePunctuation(str) {
      return str.toString().replace(/[.,\/#!?$%\^&\*;:{}=\-_`~()]/g, " ");
    },
    makeLowercase(string) {
      return string.toLowerCase();
    },
    record() {
      if (this.recording) {
        this.$emit("stop");
      } else {
        this.$emit("record");
        this.setClose();
      }
    },
    setLoading(idx) {
      this.loading = idx;
    },
    setDone() {
      this.loading = -1;
    },
    setOpen(idx) {
      this.open = idx;
    },
    setClose() {
      this.open = -1;
    }
  },
  data() {
    return {
      loading: -1,
      open: -1
    };
  },
  watch: {
    difference(val) {
      if (val.every(v => v === true)) {
        this.$emit("stop");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../css/variables.scss";

.record {
  text-align: center;
  border-radius: 50%;
  color: white;
  width: 80px;
  background-color: $green;
  margin-top: 0.3em;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
  i {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
    padding: 0.5em;
  }
}

.bottom-bar {
  position: fixed;
  width: 100%;
  background-color: white;
  bottom: 0;
  left: 0;
  height: 105px;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
}

.no-recording {
  background-color: #d3d3d3;
}

.recording {
  animation: blink 2000ms infinite;
}

@keyframes blink {
  0% {
    background-color: $pink;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  }
  50% {
    background-color: white;
    color: $pink;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
  }

  100% {
    background-color: $pink;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 80%;
  margin: auto;
  padding-bottom: 105px;
  .item {
    background-color: $pink;
    padding: 1em;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    border-radius: 6px;
    &.correct {
      background-color: $green;
    }
  }
}
</style>
