<template>
  <div
    @blur="hide"
    v-if="open"
    class="popup is-size-5"
    :style="[{marginLeft:margin, marginRight:margin,}]"
  >
    <article class="media">
      <div class="media-content has-text-centered">
        <scale-loader ref="loader" :loading="loading" height="10px"></scale-loader>
        <p v-if="!loading">{{text}}</p>
      </div>
      <div class="media-right">
        <span class="has-text-pink is-size-6" @click="$emit('close')">
          <i class="fas fa-times"></i>
        </span>
      </div>
    </article>
  </div>
</template>
<script>
import ScaleLoader from "vue-spinner/src/ScaleLoader.vue";
export default {
  components: {
    ScaleLoader
  },
  props: {
    margin: {
      type: String,
      required: false
    },
    open: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    text: { type: String }
  },
  methods: {
    hide() {
      this.$emit("close");
      this.$el.blur();
    }
  }
};
</script>
<style lang="scss" scoped>
.popup {
  position: absolute;
  z-index: 1;
  margin-top: -3.5em;
  width: 140px;
  background-color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  padding: 1em 0.5em;
  ::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
}
</style>
