<template>
  <div class="text" ref="textBlock">
    <Popup
      :text="noPuncText"
      :margin="popupMargin"
      :loading="loading"
      :open="open"
      @close="$emit('close')"
    />
    <span
      @click="read(noPuncText)"
      :class="recorded ? correct ? 'text has-text-green' : 'text has-text-pink' : color"
    >{{text}}{{" "}}</span>
  </div>
</template>
<script>
const rp = require("request-promise");
// Requires fs to write synthesized speech to a file
//const fs = require("fs");
// Requires xmlbuilder to build the SSML body
const xmlbuilder = require("xmlbuilder");
import ScaleLoader from "vue-spinner/src/ScaleLoader.vue";
import Popup from "./Popup";
export default {
  components: { ScaleLoader, Popup },
  props: {
    text: {
      type: String
    },
    noPuncText: {
      type: String
    },
    correct: {
      type: Boolean,
      default: false
    },
    recorded: {
      type: Boolean,
      default: false
    },
    position: { type: Number, required: true },
    loading: {
      type: Boolean,
      required: true
    },
    open: {
      type: Boolean,
      required: true
    },
    color: {
      type: String,
      default: "has-text-dark"
    }
  },
  computed: {
    loaderMargin() {
      return `${(this.width - 40) / 2}px`;
    },
    popupMargin() {
      return `${(this.width - 140) / 2}px`;
    },
    letters() {
      return this.text
        .toUpperCase()
        .split("")
        .join()
        .replace(/[,]/g, " , ");
    }
  },
  methods: {
    async read() {
      this.$emit("open");
      this.$emit("loading");
      this.width = this.$refs.textBlock.clientWidth;
      const subscriptionKey = "1fbd19c3be3b4b4f8c4ff5f578224e5d";
      if (!subscriptionKey) {
        throw new Error(
          "Environment variable for your subscription key is not set."
        );
      }

      try {
        const accessToken = await this.getAccessToken(subscriptionKey);
        await this.textToSpeech(
          accessToken,
          this.text.length > 1 ? `${this.letters} , ${this.text}` : this.text
        );
      } catch (err) {
        console.log(`Something went wrong: ${err}`);
      }
    },
    getAccessToken(subscriptionKey) {
      let options = {
        method: "POST",
        uri: "https://westus2.api.cognitive.microsoft.com/sts/v1.0/issuetoken",
        headers: {
          "Ocp-Apim-Subscription-Key": subscriptionKey
        }
      };
      return rp(options);
    },
    textToSpeech(accessToken, text) {
      // prepare the audio stuff
      const AudioContext = window.AudioContext || window.webkitAudioContext;
      const audio_ctx = new AudioContext();
      const source = audio_ctx.createBufferSource();
      // Create the SSML request.
      const xml_body = xmlbuilder
        .create("speak")
        .att("version", "1.0")
        .att("xml:lang", "en-au")
        .ele("voice")
        .att("xml:lang", "en-au")
        .att(
          "name",
          "Microsoft Server Speech Text to Speech Voice (en-AU, HayleyRUS)"
        )
        .txt(text)
        .end();
      // Convert the XML into a string to send in the TTS request.
      const body = xml_body.toString();
      // build the req
      const req = new XMLHttpRequest();

      const headers = {
        Authorization: "Bearer " + accessToken,
        "cache-control": "no-cache",
        "X-Microsoft-OutputFormat": "audio-16khz-32kbitrate-mono-mp3",
        "Content-Type": "application/ssml+xml"
      };
      req.responseType = "arraybuffer";
      req.open(
        "POST",
        "https://westus2.tts.speech.microsoft.com/cognitiveservices/v1"
      );
      for (const header in headers) {
        req.setRequestHeader(header, headers[header]);
      }
      req.onload = () => {
        this.$emit("done");
        // decode the data and play it once from the beginning
        //https://code-examples.net/en/docs/dom/baseaudiocontext/decodeaudiodata
        audio_ctx.decodeAudioData(
          req.response,
          function(buffer) {
            source.buffer = buffer;
            source.connect(audio_ctx.destination);
            source.start(0);
          },
          function(e) {
            console.warn(e);
          }
        );
      };
      req.send(body);
    }
  },
  data() {
    return {
      width: 0
    };
  }
};
</script>
<style lang="scss" scoped>
div.text {
  display: inline-block;
  margin-right: 10px;
}

span.text {
  z-index: 100;
}
.loader-margin {
  position: absolute;
  z-index: 1;
  margin-top: -2em;
}
</style>