nav.navbar {
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
}

.image {
	margin: 0.5em auto;
}
.logo img {
	width: 100%;
}

.logo a {
	width: 100%;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
}

.navbar-item {
	margin: 0 5%;
}

.navbar-item {
	&:hover {
		background-color: transparent !important;
	}
}

.navbar .navbar-brand.logo > a.navbar-item:hover {
	background-color: transparent !important;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
}

.button.is-yellow.is-inverted.is-outlined {
	background-color: transparent;
	border-color: white;
	color: white;
	border-width: 2px;
	&:hover {
		background-color: white;
		color: #ffc76b;
	}
}

.button.is-outlined {
	border-width: 3px;
	&:hover {
		color: white;
	}
}

.clickable {
	cursor: pointer;
}

.no-click {
	cursor: not-allowed;
}

.control.has-icons-right .icon.is-right.has-text-primary.is-clickable {
	color: rgb(70, 70, 70) !important;
}
