@import "~bulma/sass/utilities/_all";

@import "./variables.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap");

$colors: (
	"white": (
		$white,
		$black
	),
	"black": (
		$black,
		$white
	),
	"light": (
		$light,
		$light-invert
	),
	"dark": (
		$dark,
		$dark-invert
	),
	"primary": (
		$primary,
		$primary-invert
	),
	"info": (
		$info,
		$info-invert
	),
	"success": (
		$success,
		$success-invert
	),
	"warning": (
		$warning,
		$warning-invert
	),
	"danger": (
		$danger,
		$danger-invert
	),
	"pink": (
		$pink,
		$pink-invert
	),
	"blue": (
		$blue,
		$blue-invert
	),
	"purple": (
		$purple,
		$purple-invert
	),
	"green": (
		$green,
		$green-invert
	),
	"yellow": (
		$yellow,
		$yellow-invert
	)
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$navbar-height: 6rem;
$navbar-item-img-max-height: none;
$family-primary: "Montserrat", sans-serif;

$size-1: 4rem;
$size-2: 3.5rem;
$size-3: 3rem;
$size-4: 2.5rem;
$size-5: 2rem;
$size-6: 1.5rem;
$size-7: 1rem;

$weight-normal: 400;
$weight-medium: 600;
$weight-semibold: 700;
$weight-bold: 900;
@import "~bulma";
@import "~buefy/src/scss/buefy";
