$primary: #00c7fc;
$primary-invert: findColorInvert($primary);

$pink: #f87d8e;
$pink-invert: findColorInvert($pink);

$blue: #47d7fd;
$blue-invert: findColorInvert($blue);

$yellow: #ffc76b;
$yellow-invert: findColorInvert($yellow);

$green: #3cd0a2;
$green-invert: findColorInvert($green);

$purple: #a77edc;
$purple-invert: findColorInvert($purple);

$dark: #313d40;
$dark-invert: findColorInvert($dark);
